@keyframes pulse {
   0% {
      transform: scale(.87) translateY(-50%);
      box-shadow: none;
   }

   100% {
      transform: scale(1) translateY(-50%);
      box-shadow: 0 0 10px .5px $purple;
   }
}