@media (min-width: 1440px) {
   :root {
      font-size: 7px;
   }

   
}

@media (max-width: 1440px) {
   :root {
      font-size: 8px;
   }
}

@media (max-width: 1024px) {
   :root {
      font-size: 6px;
   }

   .header {
      padding-top: 3rem;
   }

   .services__card-img {
      width: 80px;
   }

   .reviews__text {
      padding: 0 30px;
   }
}

@media (max-width: 768px) {
   :root {
      font-size: 5px;
   }

   .header__logo {
      flex-basis: calc(50% + 40px);

      img {
         max-width: 80px;
      }
   }

   .panel__list-link {
      font-size: 12px;
   }

   .menu {
      padding-inline: 10vw;

      &__close {
         left: 10vw !important;
      }
   }

   .wrapper {
      background-size: cover;
   }
   .services {
      background-size: cover;

      &__card {
         flex-basis: 187px;
         
         &-img {
            width: 60px;
         }

         &:hover .services__card-img, &:hover .services__card-text {
            transform: translateZ(0);
         }
      }
   }

   .full-services__list-item {
      letter-spacing: 1px;
   }

   .contacts__map .map {
      height: 300px;
   }
}

@media (max-width: 630px) {
   :root {
      font-size: 6px;
   }

   .intro {
      &__inner {
         justify-content: start;
      }

      &__img {
         display: none;
      }
   }

   .panel__list {
      gap: 0;
      
      &-link {
         padding: 15px 12px;
      }
   }

   .reviews__name {
      justify-content: center;
      padding-right: 0;
   }

   .footer__inner {
      flex-wrap: wrap;
      gap: 15rem 0;
      margin-bottom: 7rem;
   }
}

@media (max-width: 425px) {
   :root {
      font-size: 5.5px;
   }

   .menu__close {
      top: 50px !important;
      left: 15px !important;
   }

   .panel {
      bottom: 10px;
   }

   .full-services__list-link {
      padding: 12px 7px;
   }

   .services {
      &__titles {
         padding-right: 15px;
      }
      & .container {
         padding: 0;
      }
      &__inner {
         gap: 3px 0;
      }

      &__card {
         flex-basis: 100%;
         height: 250px;
         box-shadow: none;
         border-radius: 0;
   
         justify-content: space-between;
   
         &-img {
            width: 100px;
         }
   
         &-text {
            font-size: 16px;
         }
      }
   }
   .full-services {
      &__titles {
         padding-left: 15px;
      }

      & .container {
         padding-inline: 0;
      }

      &__list-item {
         font-size: 14px;
      }

      &__list-link {
         padding: 15px 10px;
      }

      &__note {
         font-size: 12px;
      }
   }
}

@media (max-width: 375px) {
   :root {
      font-size: 5px;
   }

   .footer__right {
      gap: 0 7rem;
   }
}